body{
    justify-content: center;
}
#options{
    display: grid;
    margin: auto;
    justify-items: center;
}
#container{
    display: grid;
    margin: 2px;
    justify-content: center;
}
.button{
    border: 5px solid red; 
    padding: 10px; 
    margin: 40px; 
    border-radius: 7px; 
    color: #FFB845
}
#promptMessage{
    
}