body{
    justify-content: center;
}
/* OPTION BUTTONS */

#options{
    display: grid;
    margin: auto;
    justify-items: center;
}

/* Color Buttons */

.roundButton{
    height: 80px;
    width: 80px;
    margin: 20px;
    border: 5px solid #cc1818; 
    padding: 10px; 
    border-radius: 40px; 
    background-color: #a09b9b;
    color: #FFB845;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}
.roundButton:hover{
    border: 5px solid #a09b9b; 
    padding: 10px; 
    border-radius: 40px; 
    background-color: #cc1818;
    color: #FFB845
}

/* Reset Button */

#resetButton{
    margin: 20px;
}
.button{
    border: 5px solid #cc1818; 
    padding: 10px; 
    border-radius: 7px; 
    background-color: #a09b9b;
    color: #FFB845;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}
.button:hover{
    border: 5px solid #a09b9b; 
    padding: 10px; 
    border-radius: 7px; 
    background-color: #cc1818;
    color: #FFB845
}

#container{
    display: grid;
    margin: 2px;
    justify-content: center;
}


/* The Close Button */
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}